/* Header */
body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

.web-header-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}

.studio-header-logo{
    color: #2e2f42;
}

.header-menu-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
    letter-spacing: 0.02em;
    list-style-type: none;
    text-decoration: none;
}

:hover.header-menu-link{
    color: #404bbf;
}

:focus.header-menu-link{
    color: #404bbf;
}

.contacts-info{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
    font-style: normal;
}

.contacts-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    font-style: normal;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.contacts {
    font-style: normal;
}

:hover.contacts-link {
    color: #404bbf
}

:focus.contacts-link {
    color: #404bbf
}

/* Hero Section */
.hero-title{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    color: #fff;
    letter-spacing: 0.02em;
}

.hero-button{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    background-color: #4d5ae5;
    color: #fff;
    letter-spacing: 0.04em;
    cursor: pointer;
}

:hover.hero-button{
    background-color: #404bbf;
}

:focus.hero-button{
    background-color: #404bbf;
}

.hero-section{
    background-color: #2e2f42;
}

/* Advantages Section */
.title-two{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: #2e2f42;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

.title-three{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    letter-spacing: 0.02em;
}

.paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
}

/* Our Team Section */
.team-section{
    background-color: #F4F4FD;
    list-style: none;
}

.team-item{
    background-color: #ffffff;
}

.team-item h3,
.team-item p {
    text-align: center;
}

.team-li {
    background-color: #F4F4FD;
}
ul {
    list-style: none;
}

/* Our Portfolio Section */
.portfolio-li{
    list-style: none;
}

/* Footer */
.footer-end{
    background: #2e2f42;
}

.web-footer-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    color: #4d5ae5;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.studio-footer-logo {
    color: #2e2f42;
}

.footer-text{
    color: #f4f4fd;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

.studio-footer-logo{
    color: #f4f4fd;
}